body{
    font-family: raleway, sans-serif;
    width: 1500px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 1600px;
}

img{
    width: 100px;
    height: auto;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 100px;
    
}

nav a
{
    font-size: 1.3em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(70, 72, 197);
    border-top: 3px solid rgb(70, 72, 197);
    padding-top: 30px;
}

.zone{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: large;
    height: 50px;
    width: 350px;
 

   
}

input{
    border: none;
    font-size: large;
    display: flex;
    margin-right: 40px;
}

.recherche{
    height: 50px;
    width: 200px;
    display: flex;     
}
input::placeholder{
    font-weight: bolder;
    color: black; 
    opacity: 1;
}
.icon{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e4e4;
    border-radius: 25% 0% 0% 25%;

}

.seek{
    background-color: #0065FC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    border-radius: 0px 15px 15px 0px;
}
.seek:hover{
    cursor: pointer;
    color: #0065FC;
    background-color: white;
}
/*info*/
.i{
    color: blue;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 25px;
    width: 26px;
    height: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.info{
    border-radius: 30px;
    margin-right: 30px;
    align-items: center;
    display: flex;
    width: auto;
}
.textinfo{
    display: flex;
    margin-left: 10px;
}
/*filtres*/
.divfiltre{
    display: flex;
    align-items: center;
}
.filter{
    
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.textfiltre{
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
.filtreicon{
    font-size: large;
    border: 2px solid rgb(207, 205, 205);
    height: 50px;
    border-radius: 30px;
    margin-right: 30px;
    align-items: center;
    display: flex;
    width: auto;
  
}

.filtreicon:hover{
    color: #0065FC;
    background-color: rgb(214, 229, 255);
    cursor: pointer;
}


.fil{
    margin-right: 30px;
    
}

.eco{
    color: #0065FC;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    background-color: rgb(214, 229, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}


.fami{
    color: #0065FC;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    background-color: rgb(214, 229, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}

.rom{
    color: #0065FC;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    background-color: rgb(214, 229, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}

.ani{
    color: #0065FC;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    background-color: rgb(214, 229, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}
/*Hebergement*/
.imgheber{
    width: 250px;
    height: 140px;
    border-radius: 25px 25px 0px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.imgobjectif{
    object-fit: cover;
}


.textheber{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.infoheber{
    margin-left: 20px;
    margin-bottom: 5px;
   
}

.heber{
    margin-top: 30px;
    width: 940px;
    display: flex;
    flex-wrap: wrap;
}
.titreheber{
    background-color: #F2F2F2;
    margin-top: 10px;
    width: 940px;
    border-radius: 25px;
    height: 650px;
    justify-content: space-around;
    margin-right: 60px;
}
.afficher{
    margin-left: 40px;
    
    padding-bottom: 30px;
}
.afficher:hover{
    color: rgb(70, 72, 197);
    cursor: pointer;
}

.herbermars{
    margin-left: 40px;
    padding-top: 10px;
}
.carte{
    transition: transform .1s;
    box-shadow: 5px 5px 4px rgb(202, 201, 201);
    border-radius: 25px;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: white;
    width: 260px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carte:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color: rgb(70, 72, 197)
    
}
/*etoiles*/
.etoiles{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.etoilespop{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 60px;
}
.etoilespop2{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 45px;
}
.colorb{
    color: #0065FC;
}
.colorg{
    color: #bebcbc;
}
/*les plus populaires*/
.lespluspop{
    display: flex;
    align-items: center;
    margin-left: 40px;
    padding-top: 10px;
    justify-content: space-between;
}
.charte{
    display: flex;
    align-items: center;
    margin-right: 100px;
    
}

.titrepop{
    background-color: #F2F2F2;
    margin-top: 10px;
    width: 500px;
    border-radius: 25px;
    height: 650px;
    justify-content: space-around;
}
.imgpop{
    width: 120px;
    height: 140px;
    border-radius: 25px 0px 0px 25px;
}
 .cartepop{
    transition: transform .1s;
    box-shadow: 5px 5px 4px rgb(202, 201, 201);
    border-radius: 25px;
    padding: 3px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    background-color: white;
    width: 400px;
    height: 140px;
    display: flex;
 }
 .cartepop:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color: rgb(70, 72, 197);
 }
 /*section*/
.heberpop{
    display: flex;
    margin-right: 250px;
}
/*activité marseille*/
.textactivités{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.activités{
    display: flex;
    align-items: center;
    
    width: 1500px;
      
}

.columnactivité{
    flex-direction: column;
}

.bloc1{
    display: flex;
    
    
}
.fortiles{
    display: flex;
    flex-direction: column;
}
.bloc2{
    display: flex;
    
    
}
/*cartes*/
.cartevieux{
    transform: transform .1s;
    box-shadow: 2px 5px 5px rgb(202, 201, 201);
    width: 340px;
    height: 510px;
    border-radius: 25px;
    margin-right: 45px;
    margin-top: 30px;
}
.cartevieux:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color:rgb(70, 72, 197);
}

.cartefort{
    transform: transform .1s;
    box-shadow: 2px 5px 5px rgb(202, 201, 201);
    width: 340px;
    height: 260px;
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.cartefort:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color:rgb(70, 72, 197);
}

.carteilesf{
    transform: transform .1s;
    box-shadow: 2px 5px 5px rgb(202, 201, 201);
    width: 340px;
    height: 210px;
    border-radius: 25px;
    margin-bottom: 40px;
}
.carteilesf:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color:rgb(70, 72, 197);
}
.carteparcca{
    transform: transform .1s;
    box-shadow: 2px 5px 5px rgb(202, 201, 201);
    width: 340px;
    height: 510px;
    border-radius: 25px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 5px;
}
.carteparcca:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color:rgb(70, 72, 197);
}
.cartenotred{
    transform: transform .1s;
    box-shadow: 2px 5px 5px rgb(202, 201, 201);
    width: 340px;
    height: 235px;
    border-radius: 25px;
    margin-top: 5px;

}
.cartenotred:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color:rgb(70, 72, 197);
}
.carteparcl{
    transform: transform .1s;
    box-shadow: 2px 5px 5px rgb(202, 201, 201);
    width: 340px;
    height: 235px;
    border-radius: 25px;
    margin-top: 35px;
}
.carteparcl:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    color:rgb(70, 72, 197);
}

/*img activités*/

.vieux{
    
    height: 450px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
}
.fort{
    
    height: 200px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
}

.ilesf{
    
    height: 150px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
}

.parcca{
    
    height: 450px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
}

.notred{
    
    height: 175px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
}

.parcl{
    
    height: 175px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
}
/*footer*/
.foot{
    margin-top: 70px;
    width: 100%;
    height: 250px;
    background-color: #F2F2F2;
    display: flex;  
}
.apropos{
    margin-right: 350px;
    margin-top: 30px;
    margin-left: 50px;
}
.noshebergements{
    margin-right: 350px;
    margin-top: 30px;
}
.assistance{
    margin-top: 30px;
}
.textfoot{
    font-size: 20px;
    margin-bottom: 20px;
}
.textfoot:hover{
    cursor: pointer;
    color: rgb(70, 72, 197);
    
}
.sins{
    position: relative;
    top: -40px;
    right: -440px
}
@media screen and (min-width: 900px){
    width: ;
}

@media screen and (max-width: 1500px){
    header{
        width: 1000px;
    }
}
@media screen and (max-width: 1400px){
    body{
        margin-right: auto;
        margin-left: auto;
    }
    .heberpop{
        display: block;
    }
    .activités{
        display: block;
    }
    .bloc1{
        margin-left: 50px;
    }
    .foot{
        display: block;
        width: 800px;
        height: 280px;
        font-size: 15px;
        flex-direction: column;
        justify-content: center;
    }
    .apropos{
        justify-content: center;
    }
    .noshebergements{
        
        margin-left: 50px;
    }
    .assistance{
        margin-left: 400px;
        position: relative;
        top: -200px;
        
    }
    .textfoot{
        font-size: 15px;
    }

} 
@media screen and (max-width: 950px){
    header{
        display: block;
    }
}
@media screen and (max-width: 900px){
    .divfiltre{
        display: block;
    }
    .heber{
        display: block;
        column-count: 2;
    }
   .titreheber{
       display: block;
       height: 900px;
       width: 900px;
   }
    .afficher{
        display: block;
        position: relative;
        left: -470px;
    }
}
@media screen and (max-width: 670px){
    .heber{
        width: 600px;
    }
    .bloc1{
        display: block;
    }
    .bloc2{
        display: block;
    }
    .cartenotred{
        display: block;
        margin-top: 40px;
        margin-left: 45px;
    }
    .carteparcl{
        display: block;
        margin-top: 40px;
        margin-left: 45px;
    }
}